.DS_Store
.externalNativeBuild
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/libraries
target
*.iml
.idea
/build
/captures
.gradle
local.properties
local.gradle
*~
tmp
secrets.xml

bintray_local_properties.gradle